/*Set the page margin to zero*/
*{
    margin: 0;
}
html body{
    height: 100%;
}
body{
    background-attachment: fixed;
}

/*+-+-Navigation Bar Started*/
header{
    height: 50px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10px 20px;
    display: flex;
    flex: 1;
    align-items: center;   
}
.navbar{
    margin-inline-start: 30%;
}
nav> a {
    text-decoration: none;
    color: white;
    font-size: 16pt;
    padding: 10px 20px;
    margin-left: 8px;
    font-weight: bolder;
    border-radius: 4%;
}
.home{
    background-color:white;
    color: black;
}
.home:hover{
    background-color:rgba(0,0,0,0.4);
    color: white;
    transition-duration: 1s;
}
.n_o:hover {
    background-color:white;
    color: black;
    transition-duration: 1s;
}

li>.x{
    text-decoration: none;
    text-decoration-style: none;
}

/*+-+-Navigation Bar Ended*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
/*+-+-foreground img and camellia text*/

.top{
    margin: 2cm 4cm ;

}
.x{
   border-radius: 10%;
}
.xl{
    padding-left: 250px;
    padding-top: 100px;
    border-radius: 20%;
}
.xl:hover{
    opacity: 0.9;
}


#layer1{
    font-size: 72pt;
    font-family: cursive;
    color:greenyellow;
    align-items: center;
}

#layer2{
    font-size: 72pt;
    font-family: cursive;
    color:aqua;
    align-items: center;}
#layer1:hover{
    color: yellow;
}
#layer2:hover{
    color:rgba(255,0,0,0.8);
}
/*+-+-+-Tea and Coffee shop+-+-+-*/

div.gallery {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: 300px;
    border-style: none;
  }
  div.gallery:hover{
    border-style: none;
  }
  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  #online{
      background-repeat: no-repeat;
      background-attachment: fixed;

  }
    .vt{
        border-style: none;
  }
  #myVideo {
   padding-left: 35px;
  }


 
  