.mw{
    margin: 0 auto;
    width: 1000px;
}

.reg{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    border: 5px solid red;
    height: 437px;
    padding-bottom: 10px;
}
.reg input{
    width: 140px;
    height: 20px;
    margin-right: 10px;
    border: none;
    font-size: 10pt;
}
#x{ 
    color: white;
    font-size: 36px;
}

.my{
    padding-top: 40px;
}

.sign{
    display: inline-block;
  border-radius: 4px;
  background-color: #49f41e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sign span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .sign span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .sign:hover span {
    padding-right: 25px;
  }
  
  .sign:hover span:after {
    opacity: 1;
    right: 0;
  }

  .sign2{
    display: inline-block;
  border-radius: 4px;
  background-color: #1e69f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sign2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .sign2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .sign2:hover span {
    padding-right: 25px;
  }
  
  .sign2:hover span:after {
    opacity: 1;
    right: 0;
  }

  h1{
    font-size: 36pt; color: blueviolet;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-left-width: 5px;
    border-left-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
  }